.alert-container {
	margin-block: 1em;

	&.info {
		& .alert-header {
			background-color: #2196f3;
		}

		& .alert-body {
			background-color: #eaf0f5;
		}
	}

	&.warn {
		& .alert-header {
			background-color: #ffca28;
			color: black;
		}

		& .alert-body {
			background-color: #fdf4dc;
		}
	}

	&.danger {
		& .alert-header {
			background-color: #f44336;
		}

		& .alert-body {
			background-color: #fde7ea;
		}
	}

	& .alert-header {
		padding: 0.7em;
		display: flex;
		gap: 10px;

		color: white;
		font-weight: bold;
		display: flex;
		align-items: center;
		border-start-end-radius: 5px;
		border-start-start-radius: 5px;
		font-size: 1.2em;
		align-items: center;
	}

	& .alert-body {
		padding: 0.2em 0.7em;
		border-end-end-radius: 5px;
		border-end-start-radius: 5px;
	}
}

.dark .alert-container {
	&.info {
		color: black;

		& .alert-header {
			background-color: #2a82ca;
		}

		& .alert-body {
			background-color: #e5ecf1;
		}
	}

	&.warn {
		color: black;

		& .alert-header {
			color: white;
			background-color: #dfba4d;
		}

		& .alert-body {
			background-color: #fef4d7;
		}
	}

	&.danger {
		color: black;
		& .alert-header {
			background-color: #e85045;
		}

		& .alert-body {
			background-color: #fae6e4;
		}
	}
}
