.alert-container {

    &.info {
        & .alert-header {
            background-color: #2196f3;
        }

        & .alert-body {
            background-color: #e3f2fd;
        }
    }

    &.warn {
        & .alert-header {
            background-color: #ffca28;
            color: black
        }

        & .alert-body {
            background-color: #fbebbe;
        }
    }

    &.danger {
        & .alert-header {
            background-color: #f44336;
        }

        & .alert-body {
            background-color: #fcced5;
        }
    }


    & .alert-header {
        padding: .7em;
        display: flex;
        gap: 10px;
        
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        border-start-end-radius: 5px;
        border-start-start-radius: 5px;
        font-size: 1.2em;

        & .icon-container {
            width: 1.2em;
            height: 1.2em;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            border-radius: 50%;

            & .icon {
                color: black;
                font-size: 1.2em;
            }
        }
    }

    & .alert-body {
        padding: .2em .7em;
        border-end-end-radius: 5px;
        border-end-start-radius: 5px;
    }
}

.dark .alert-container  {
    &.info {
        color: black;

        & .alert-header {
            background-color: #0f4f84;
        }

        & .alert-body {
            background-color: #cdd8e1;
        }
    }

    &.warn {
        color: black;

        & .alert-header {
            background-color: #e2b52d;
        }

        & .alert-body {
            background-color: #cdd8e1;
        }
    }

    &.danger {
        color: black;
        & .alert-header {
            background-color: #ca3429;
        }

        & .alert-body {
            background-color: #cdd8e1;
        }
    }
}