body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    
    &.dark {
        background-color: #23272f;
        color: white;

        & .docs-main {
            &::-webkit-scrollbar {
                background-color: #122122;
                width: 5px;
            }
        }
    }

    & .docs-main {
        &::-webkit-scrollbar {
            background-color: #addcdf;
            transition: background-color .1s ease;
            width: 5px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #475159;
            box-shadow: inset -3px -1px 5px gray;
            border-radius: 10px;
        }
    }
}